
/*** css template ***/

/*** css reset ***/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    background-color: rgb(226,160,37);
  }
  /* body * {
    outline: 1px solid pink;
  } */

  .grid {
      display: grid;
      grid-template-columns: 1fr 9fr;
  }

  header div {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    color: rgb(255,221,152);
    padding: 50px 0px 0px 150px;
    height: 125px;
    background-image: linear-gradient(to right,rgba(209,32,39,1),rgba(226,160,0));
    margin: auto;
  }

  header img {
    padding: 12px;
    float: left;
  }

  .commands-header,
  .notes-header {
    font-size: 1.5rem;
    color: rgb(255,221,152);
    font-family: 'Roboto', sans-serif;
    padding:10px;
    background-color: rgb(112,84,44);
  }
.notes-header {
  padding-left: 150px;
}
  .command,
  .note {
    font-size: 1.5rem;
    padding: 10px 10px 5px 15px;
    color: rgb(112,84,44);
  }

  .note {
    padding-left: 150px;
  }
